include ./../../dev/src/components/head/pug/head.pug
include ./../../dev/src/components/linkedin-recommendations/pug/linkedin-recommendations.pug

doctype html
html(prefix="og: http://ogp.me/ns#")

	+head(portfolio.head, versionSuffix, false)

	body#portfolio.listing
		div#wrapper
			header
				div.inner.box
					h1= global.name
					h2= global.jobTitle
			a#home(href="/")= global.strings.backToHomepage
			div#outer
				main.thumbnail-listing
					ol
						-


						each contract, index in portfolio.body.contracts
							- 
								var listItemClasses = [];
								var parentLinkClasses = [];
								var parentLinkAttributes = {};

							//- If the contract has no gallery
							if contract.containsGallery === false
								-
									listItemClasses.push('no-gallery');
									parentLinkClasses.push('linkedin-launch');

									//- Generate the text for contract with no gallery (but LinkedIn recommendations)
									var recommendationsFormatting = linkedInSuffixes(contract.linkedInRecommendations);												
									var linkedInRecommendationsReceived = global.strings.linkedIn.recommendationsReceived.replace('{count}', recommendationsFormatting.count).replace('{recommendation/s}', recommendationsFormatting.recommendationSingularPlural);
									var linkedInRecommendationsLinkText = global.strings.linkedIn.recommendationsRead.replace('{it-them}', recommendationsFormatting.itOrThem);

									parentLinkAttributes.href = "linkedin-recommendations-" + (index+1);
									parentLinkAttributes["data-linked-container-class"] = "no-gallery";
									parentLinkAttributes["data-linked-element"] = ".linkedin-recommendations";

							//- If the contract is not responsive
							if contract.responsive === false
								- 
									listItemClasses.push('non-responsive');
									listItemClasses = listItemClasses.join(' ');
									parentLinkClasses = parentLinkClasses.join(' ');

							li&attributes({"class": listItemClasses})
								a(class=parentLinkClasses, href=contract.url)&attributes(parentLinkAttributes)
									picture.teaser
										img(src="/assets/images/portfolio/aspect-ratio-placeholder.gif", data-src=contract.image, data-lazyload-module="mod-image", data-inview)
												
									ul
										li
											strong= contract.companyName
											= contract.jobTitle
										li.role-type= contract.roleType
										li
											strong= global.strings.dates + ": "
											= contract.contractDates
										li
											strong= global.strings.duration + ": "
											= contract.duration
										li
											strong= global.strings.location + ": "
											= contract.location
										li.overview
											p!= contract.overview

										if !contract.containsGallery
											li.linkedin
												strong= global.strings.linkedInRecommenations
												p= linkedInRecommendationsReceived + " " + linkedInRecommendationsLinkText + "."
										else
											li.launch-gallery= global.strings.launchGallery

									if contract.ndaRestrictions
										div.nda
											strong= global.strings.galleryNDARestrictions

									if contract.containsGallery === false
										div(id="linkedin-recommendations-" + (index+1), class="linkedin-recommendations")
											h3= global.strings.recommendations
											div.inner
												+linkedinRecommendations(contract.linkedInRecommendations)

		script(src="/assets/scripts/app.min.js" + versionSuffix)